<div id="coming-soon" class="round center-block center-txt">
	<div id="coming-soon-title" class="big-txt black-txt underline">Check the Crisis</div>

	<p>
		<span class="emph-txt">Coming soon</span> from the <span class="emph-txt">Yale Law School Mortgage Foreclosure Clinic</span>, 
		<span class="emph-txt">checkthecrisis.com</span> will give a voice to your checking account.  
		<span class="emph-txt">By moving your deposits</span>
		from abusive and careless mortgagees to those diligently and cooperatively working to keep mortgagors out of foreclosure,
		you can make a statement that banks will perceive not only symbolically, but also financially.  
		<span class="emph-txt">Checkthecrisis.com</span> will facilitate this migration by 
		<span class="emph-txt">lifting the veil on HAMP compliance</span>
		and revealing both the <span class="emph-txt">data and stories</span> behind the foreclosure processes afflicting millions
		of people nationwide.
	</p>
	
	<p>
		Please stay tuned for our <span class="emph-txt">launch in the early summer</span>.  It's time now to take a stand against
		the <span class="emph-txt">abusive, careless, and often illegal practices</span> of mortgage holding financial 
		institutions that are perpetuating the current foreclosure.
		By strategically depositing our money, perhaps together we can finally&#151;hopefully&#151;<span class="emph-txt">check the crisis</span>.
		    		
	</p>
	
	
</div>

